.jumbo{
    margin: 0 auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    padding: 10px;
}

.jumbo p{
    text-align: justify;
    color: #2a8c4a;
    font-size: 25px;
    margin-top: 20px;
}

.img1{
    width: 60%;
    margin-left: 20%;
}

.img2{
    width: 80%;
    margin-left: 10%;
    margin-top: -20%;
}

.img3{
    width: 100%;
    margin-left: -10%;
    margin-top: -20%;
    margin-bottom: 10px;
}

.humus{
    width: 80%;
    margin-top: -80px;
    margin-bottom: 10px;
}
.bloque{
    width: 60%;
    margin-top: -80px;
    margin-bottom: 10px;
}

.titulo{
    margin-top: 60px;
    font-weight: bold;
    color: #006414;
}

.p{
    font-size: 18px;
    color: #006414;
    text-align: justify;
}

.li{
    font-size: 20px;
    color: #006414;
    text-align: justify;
    margin-bottom: 10px;
}

@media screen and (max-width:900px){
    .img1{
      width: 50%;
      margin-left: 25%;
    }
    .img2{
        width: 100%;
        margin-left: 1%;
        margin-top: 1%;
    }
    .img3{
        width: 100%;
        margin-left: -30%;
        margin-top: 1%;
    }
    .humus{
        width: 80%;
        margin-bottom: 10px;
        margin-top: 1px;
    }
    .bloque{
        width: 60%;
        margin-top: 1px;
    }
    .jumbo p{
        font-size: 16px;
    }
    .jumbo{
        width: 100%;
    }
    .p{
        font-size: 16px;
    }
    .li{
        font-size: 16px;
    }
}
